@import 'theme.css'; 

.wy-nav-top {
    display: none;
    background: ##ff0000;
    color: #fff;
    padding: 0.4045em 0.809em;
    position: relative;
    line-height: 50px;
    text-align: center;
    font-size: 100%;
    *zoom: 1;
}

.wy-nav-content-wrap {
    background: #4a4a4a;
}

.wy-nav-content {
    max-width: 100%;
}
